.media-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 10px;
  .progress {
    width: 304px;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .media {
    height: 304px;
  }
  .record, .chooseimg {
    display: flex;
    button {
      margin: 10px;
    }
  }
  .chooseimg {
    button {
      background: #058;
      font-size: 14px;
    }
    image {
      width: 36px;
      height: 36px;
      margin-top: 10px;
    }
  }
}
